{
    "printWidth": 100,
    "parser": "flow",
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "jsxBracketSameLine": true,
    "overrides": [
        {
            "files": "*.css",
            "options": {
                "parser": "css"
            }
        },
        {
            "files": "*.json",
            "options": {
                "parser": "json"
            }
        }
    ]
}
